@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Handlee';
  width: 100%;
  height: 100vh;
}
