@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  background-image: url('src/assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgb(0, 18, 57);
  font-family: 'Handlee';
  height: 100vh;
  color: white;
}
